.checkbox {
  display: block;
  padding: 0.3rem 1rem;
  cursor: pointer;
  border-radius: 10rem;
  min-width: 11rem;
  text-align: center;
  &.active {
    background-color: #eee;
  }

  input {
    display: inline-block;
    width: fit-content;
    margin-right: 0.5rem;
  }
}
