.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;

  svg {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;

    path {
      fill: currentcolor;
    }
  }
}

.prefectures {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
